 
 :root {
    --color-frimary-dark:#31261A;
    --color-frimary-light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #819B57; 
 }
 
 
 /* Base */
body {
    color: var(--color-frimary-dark);
}

 ul {
    list-style-type: none;
 }
 /* Button */
 .button{
    color: var(--color-frimary-light);
   background-color: var(--color-brand-light); 
   border: 2px solid var(--color-brand-light);
   border-radius: 8px;
   cursor: pointer;
 }

 .button:hover{
    color: var(--color-brand-dark);
    background-color: transparent;
 }
/* Link */
 .link{
    color:var(--color-frimary-light) ;
 }
  
 .link:hover{
    color: var(--color-brand-light);
 }
/* Hero-section */
 .hero-title {
    color: var(--color-frimary-light);
 }
 .hero-title .accent {
    color: var(--color-brand-light);
 }
/* Advantages section */
 .advantagest-list {
    color: var(--color-frimary-light);
    background-color: var(--color-brand-light);
 }
 
 .section-title .accent {
    color: var(--color-brand-dark);
 }